
x-spinner, x-spinner img {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

x-spinner {
  display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

x-spinner[fade] {
  -webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

x-spinner[fade]:not([spinning]) {
  opacity: 0;
}

x-spinner[transition="fade-in"] {
  opacity: 1;
}

x-spinner[transition="fade-out"] {
  opacity: 0;
}

x-spinner .x-spinner-center[label]:after {
  display: block;
  content: attr(label);
}

x-spinner img {
  display: block;
  width: 1em;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid;
  border-color: transparent;
  border-left-color: inherit;
  border-right-color: inherit;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

x-spinner[spinning] img {
  -webkit-animation: x-spinner-rotate 1s infinite linear;
  -ms-animation: x-spinner-rotate 1s infinite linear;
  animation: x-spinner-rotate 1s infinite linear;
}

x-spinner[reverse] img {
  -webkit-animation-direction: reverse;
  -ms-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes x-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes x-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
